* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: white;
}

#home-screen {
  height: 600px;
  width: 800px;
}

#name-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-title {
}

#name-input {
  height: 100px;
  width: 300px;
}

#sex-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sex-buttons-container {
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 30px;
  font-family: Arial;
  padding: 10px;
  color: grey;
}

.button {
  height: 70px;
  width: 70px;
  font-size: 60px;
  font-family: A Day Without Sun;
  font-weight: bold;
  padding-top: 12px;
}

.button:hover {
  padding-top: 7px;
}

#check-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#check {
  height: 60px;
  width: 200px;
  font-size: 30px;
  font-family: Arial;
  color: grey;
}

#check:hover {
  color: black;
}

@font-face {
font-family: A Day Without Sun;
src: url(font.otf);
}

#application {
  height: 600px;
  width: 800px;
}

#title-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#chart-container {
  height: 450px;
  display: flex;
  position: relative;
}

#given-name {
  height: 70px;
  width: 300px;
}

.name {
  font-size: 60px;
  font-family: A Day Without Sun;
  letter-spacing: 7px;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
}

.bar-container {
  height: 400px;
  width: 20px;
  position: absolute;
  bottom: 0px;
}

.bar {
  width: 20px;
  position: absolute;
  bottom: 2px;
  display: flex;
}

.bar-image {
  width: 20px;
}

.year-box {
  height: 20px;
  position: absolute;
  bottom: -25px;
  font-size: 17px;
  font-family: Arial;
  color: #787d77;
}

.number-box {
  height: 20px;
  width: 50px;
  transform: rotate(-45deg);
  text-align: left;
  font-family: Arial;
}

.chart-number-box {
  left: -5px;
  position: absolute;
  top: -40px;
}

#back {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.feedback {
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  color: red;
  margin-top: 15px;
}

#feedback-name-container {
  height: 50px;
}

#feedback-sex-container {
  height: 50px;
}

.axis {
  border: grey solid 1px;

}

#axis-x {
  height: 2px;
  width: 800px;
  position: absolute;
  bottom: 0px;
}

#axis-y {
  height: 420px;
  width: 2px;
  position: absolute;
  bottom: 0px;
}

#axis-y-container {
  position: relative;
}

.axis-label {
  position: absolute;
  left: -25px;
  font-size: 18px;
  font-family: Arial;
}

.gridline {
  border: solid #ececec 1px;
  height: 1px;
  width: 800px;
  position: absolute;
  z-index: -1;
}

#axis-y-title {
  height: 30px;
  width: 110px;
  position: absolute;
  top: calc(50% - 50px);
  left: -100px;
  transform: rotate(-90deg);
  color: #539046;
}

#axis-x-title {
  height: 30px;
  width: 50px;
  position: absolute;
  bottom: -70px;
  left: calc(50% - 25px);
}

.axis-title {
  font-family: Arial;
  color: #787d77;
}

.information-icon {
  height: 30px;
  width: 30px;
}

#information-icon {
  position: absolute;
}

.information-icon:hover {
  top: -50px;
}

#info-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-family: Arial;
}

#blank-space {
  height: 60px;
}

#info-title {
  display: flex;
  flex-direction: row;
  height: 50px;
}

#information {
  height: 30px;
  width: 50px;
  font-size: 20px;
  margin-left: 20px;
}

#info-number-container {
  height: 40px;
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}

#info-number-icon {
  height: 30px;
  display: flex;
}

#info-number-text {
  margin-left: 10px;
}

#info-bar-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}

#info-bar-icon-container {
  height: 70px;
}

#info-bar-icon {
  height: 70px;
  width: 20px;
}

#info-bar-text {
  height: 70px;
  margin-left: 30px;
}

#gus-info-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-top: 20px;
  align-items: center;
}

#gus-logo {
  height: 68px;
  width: 35px;
}

#gus-text {
  margin-left: 10px;
}

.icon-box {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-color {
  color: #318b93;
}

.axis-y-color {
  color: #539046;
}

.main-background-color {
  background-color: #af3f3d;
  border: #af3f3d;
}