* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: white;
}

#home-screen {
  height: 600px;
  width: 800px;
}

#name-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-title {
}

#name-input {
  height: 80px;
  width: 300px;
}

#sex-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sex-buttons-container {
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 30px;
  font-family: Arial;
  padding: 10px;
  color: grey;
}

.button {
  height: 70px;
  width: 70px;
  font-size: 60px;
  font-family: A Day Without Sun;
  font-weight: bold;
  padding-top: 12px;
}

.button:hover {
  padding-top: 7px;
}

#check-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#check {
  height: 60px;
  width: 200px;
  font-size: 30px;
  font-family: Arial;
  color: grey;
}

@font-face {
font-family: A Day Without Sun;
src: url(font.otf);
}

#application {
  height: 600px;
  width: 800px;
}

#title-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#chart-container {
  height: 500px;
  display: flex;
  position: relative;
}

#given-name {
  height: 70px;
  width: 300px;
}

.name {
  font-size: 60px;
  font-family: A Day Without Sun;
  letter-spacing: 7px;
  font-weight: bold;
  text-align: center;
}

.bar-container {
  height: 400px;
  width: 20px;
  position: absolute;
  bottom: 20px;
}

.bar {
  width: 20px;
  border: red solid 1px;
  background-color: red;
  position: absolute;
  bottom: 40px;
}

.year-box {
  height: 20px;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  font-family: Arial;
  color: #787d77;
}

.number-box {
  height: 20px;
  width: 50px;
  left: -5px;
  position: absolute;
  top: -40px;
  transform: rotate(-45deg);
  text-align: left;
  font-family: Arial;
}

#back {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.feedback {
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  color: red;
  margin-top: 15px;
}

#feedback-name-container {
  height: 50px;
}

#feedback-sex-container {
  height: 50px;
}

.axis {
  border: black solid 1px;

}

#axis-x {
  height: 2px;
  width: 800px;
  position: absolute;
  bottom: 60px;
}

#axis-y {
  height: 420px;
  width: 2px;
  position: absolute;
  bottom: 0px;
}

#axis-y-container {
  position: relative;
  bottom: 60px;
}

.axis-label {
  border-bottom: solid black 1px;
  position: absolute;
  left: -18px;
}

